:root {
  --color-primary: #000000; /* black */
  --color-secondary: #ff6f00; /* vibrant orange */
  --color-tertiary: #7f8c8d; /* grey/steel */
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--color-primary);
  color: var(--color-tertiary);
}




.App-header {
  display: flex;
  justify-content: space-between;
  height: 120px;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1.5rem auto;
  gap: 1rem;
  background-color: var(--color-primary);
  border: 2px solid var(--color-secondary);
  color: var(--color-tertiary);
  padding: 10px;
  border-radius: 8px;

}

.search-bar input {
  padding: 0.5rem 1rem;
  width: 400px;
  border: none;
  outline: none;
  border-radius: 8px;
  font-size: 1rem;
  background-color: transparent;
  color: var(--color-tertiary);
  font-size: 1.4rem;
}

.search-bar button {
  padding: 0.45rem 1rem;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  border: 2px solid var(--color-secondary);
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.4s ease;
}

.search-bar button:hover {
  background-color: var(--color-primary);
  border: 2px solid var(--color-secondary);
  color: var(--color-secondary);
}

.Results-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  height: calc(100vh - 135px);
  width: 50%;
}

.SearchResults {
  background-color: var(--color-primary);
  padding: 20px;
  color: var(--color-secondary);
  border: 3px solid var(--color-secondary);
  border-radius: 16px;
  margin: 10px;
  flex-grow: 1;
  overflow-y: auto;
}

.Track {
  padding: 12px;
  border-bottom: 1px solid #444;
}

.Track:last-child {
  border-bottom: none;
}

.Track-info h3 {
  color: orange;
  margin: 0;
}

.Track-info p {
  color: #ccc;
  font-size: 14px;
  margin: 4px 0 0 0;
}

.no-results {
  color: #888;
  font-style: italic;
}